* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.header {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 799px) {
  header {
    overflow: hidden;
  }
}
.nav {
  backdrop-filter: blur(3px);
  background-color: rgba(42, 42, 42, 0.5);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  font-family: "Aboreto", cursive;
  font-size: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav__logo {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px 0;
  color: white;
}
.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__menu--list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}
.nav__menu--item {
  padding: 0 15px;
  position: relative;
}
.nav__menu--link {
  color: rgb(124, 195, 231);
  transition: 0.4s, easy-in-out;
}
.nav__menu--link:hover {
  color: white;
}
.nav__menu .active {
  color: white;
}
.nav__menu .active::after, .nav__menu--link:hover::after {
  content: "";
  color: white;
  width: 30%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -4px;
  left: 15px;
}
.nav__menu--link--cart {
  font-size: 27px;
}
.nav__menu .nav__menu--cart {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 50px;
  font-size: 10px;
  padding: 7px;
  position: absolute;
  top: 5px;
  right: 15px;
  display: none;
}
.nav__menuIcon {
  display: none;
  margin: auto;
  font-size: 24px;
}

#nav.open {
  right: 0;
}

#closeMenu {
  display: none;
}

@media (max-width: 799px) {
  .nav__menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 300px;
    background-color: rgba(42, 42, 42, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
    padding: 80px 0 0 10px;
    transition: 0.45s;
  }
  .nav__menu--list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .nav__menu--item {
    margin-bottom: 25px;
    padding-left: 5px;
  }
  .nav__menu--item:last-of-type {
    display: none;
  }
  .nav__menuIcon {
    display: flex;
    margin: auto;
    font-size: 24px;
    margin-right: 10px;
  }
  .nav__menuIcon--cart {
    margin-right: 10px;
    color: rgb(37, 37, 37);
  }
  .nav #closeMenu {
    display: initial;
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
  }
}
.modal__container {
  width: 50%;
  margin-left: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(42, 42, 42, 0.5);
  backdrop-filter: blur(4px);
  position: fixed;
  overflow: hidden;
  z-index: 2;
  top: 5vh;
  scrollbar-color: none;
}
.modal__container::-webkit-scrollbar {
  display: none;
}
.modal__container .modal__header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(42, 42, 42, 0.5);
  color: white;
  width: 100%;
}
.modal__container .modal__header .modal__title {
  justify-content: start;
}
.modal__container .modal__header .modal__button {
  cursor: pointer;
}
.modal__container .modal__cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 5px;
}
.modal__container .modal__cont--img {
  width: 130px;
  height: 110px;
  object-fit: contain;
}
.modal__container .modal__cont--img--img {
  width: 120px;
  height: 100px;
}
.modal__container .modal__cont--travel {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  color: white;
}
.modal__container .modal__cont--travel--container--quan {
  margin-left: 3px;
}
.modal__container .modal__cont--travel .modal__cont--deleteTravel {
  color: white;
}

.more, .less {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.travel {
  background-color: rgb(124, 195, 231);
  padding-block: 20px;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 20px;
  grid-area: travelInputs;
}
.travel__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}
.travel__form--container {
  margin: 0 8px 15px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.travel__form--container--label {
  color: white;
  font-size: 20px;
  margin: 0 0 0 5px;
  padding-left: 10px;
  font-size: 25px;
}
.travel__form--container--input {
  background-color: white;
  border-radius: 50px;
  border: transparent;
  padding: 5px 15px;
  font-size: 23px;
}
.travel__form--container--input::placeholder {
  color: rgba(214, 214, 214, 0.605);
}
.travel__btn {
  display: flex;
  justify-content: center;
}
.travel__btn--btn {
  width: 350px;
  font-weight: bold;
  margin-top: 35px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 10px 15px;
  transition: 0.4s, easy-in-out;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
.travel__btn--btn:hover, .travel__btn--btn:focus {
  letter-spacing: 0.7rem;
  color: rgba(255, 255, 255, 0.441);
}

.popular {
  width: 100%;
  margin: 15px auto;
}
.popular__container--title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: rgb(108, 158, 214);
  text-transform: uppercase;
  margin: 25px 0;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
.popular__container--text {
  color: rgb(37, 37, 37);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 25px;
  letter-spacing: 1px;
  width: 80%;
  margin: 5px auto;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.popular__container--btn {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  display: flex;
  border: 2px solid rgb(108, 158, 214);
  border-radius: 50px;
  padding: 3px 15px;
  justify-self: center;
  margin: auto;
  transition: 0.4s, easy-in-out;
}
.popular__container--btn a {
  font-size: 25px;
  color: rgb(108, 158, 214);
  text-shadow: 1px 1px 4px rgb(124, 195, 231);
}
.popular__container--btn a:hover {
  color: white;
  text-shadow: 1px 1px 4px rgb(191, 191, 191);
}
.popular__container--btn:hover {
  background-color: rgb(108, 158, 214);
  border: 2px solid transparent;
}
.popular__container--list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 2em;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
  margin: 10px 0;
  padding: 0;
}
.popular__container--list, .popular__container--list > .popular__container--list--item:not(:last-child) {
  margin-bottom: 30px;
}
.popular__card {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  height: 500px;
  width: 350px;
}
.popular__card--img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.popular__card--container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  border-radius: 25px;
  padding: 20px;
  color: white;
}
.popular__card--container--stars {
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 4px;
  transform: translateY(-50%);
}
.popular__card--container--site {
  font-size: 13px;
  font-weight: bolder;
  margin-bottom: 4px;
}
.popular__card--container--title {
  font-size: 1.2rem;
  font-family: "Aboreto", cursive;
}

.packeges {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.packeges__title {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 3rem;
  color: rgb(108, 158, 214);
  font-weight: 500;
  margin: 30px 0 15px;
  text-transform: uppercase;
}
.packeges__text {
  text-align: center;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.packeges__container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 20px auto;
  width: 95%;
  overflow: hidden;
  row-gap: 2em;
}
.packeges__container--container {
  border-radius: 50px;
  display: grid;
  grid-template-rows: 1fr;
}
.packeges__container--container--container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.packeges__container--container--container--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px 50px 0 0;
}
.packeges__container--container--container--descrip {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  background-color: rgba(243, 243, 243, 0.7);
}
.packeges__container--container--container--descrip--title {
  margin-top: 35px;
  font-family: "Aboreto", cursive;
  font-size: 25px;
  color: rgb(108, 158, 214);
}
.packeges__container--container--container--descrip--text {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 30px 0;
}
.packeges__container--container--container--descrip--container {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  justify-content: center;
  border: 1px solid rgb(108, 158, 214);
  width: 250px;
  margin: 0 auto;
  margin-top: 5em;
  padding: 10px 10px;
  border-radius: 50px;
  text-align: center;
  justify-items: center;
  color: rgb(37, 37, 37);
  overflow: hidden;
}
.packeges__container--container--container--descrip--container i, .packeges__container--container--container--descrip--container span {
  color: rgb(108, 158, 214);
}
.packeges__container--container--container--descrip--container span {
  font-weight: bold;
}
.packeges__container--container--container--info {
  background-color: rgb(108, 158, 214);
  border-radius: 0 0 50px 50px;
  color: rgba(255, 255, 255, 0.9);
}
.packeges__container--container--container--info--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
  margin-top: 35px;
}
.packeges__container--container--container--info--price {
  font-size: 70px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px;
  flex-direction: column;
}
.packeges__container--container--container--info--price span {
  font-size: 30px;
}
.packeges__container--container--container--info--btn {
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 20;
  font-family: "Aboreto", cursive;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-self: center;
  text-align: center;
  margin: 40px auto 20px;
}

@media (min-width: 800px) {
  .packeges__container--container--container--img {
    border-radius: 50px 0 0 50px;
  }
  .packeges__container--container {
    grid-template-rows: 1fr;
    row-gap: 3em;
  }
  .packeges__container--container--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 420px;
    row-gap: 3em;
    overflow: hidden;
  }
  .packeges__container--container--container--info {
    border-radius: 0 50px 50px 0;
  }
  .packeges__container--container--container--info--container {
    margin-top: 80px;
    width: 50%;
  }
  .packeges__container--container--container--descrip--title {
    margin-top: 80px;
  }
  .packeges__container--container--container--descrip--text {
    margin: 40px 10px;
  }
}
.travels {
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-area: travels;
}
.travels__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  gap: 1.5em;
  overflow: hidden;
  justify-content: center;
  margin: 10px 0;
}
.travels__container--container {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  height: 550px;
  width: 360px;
}
.travels__container--container .travels__card--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.travels__container--container .travels__card--container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  border-radius: 25px;
  padding: 20px 10px;
  color: white;
}
.travels__container--container .travels__card--container--title {
  font-size: 30px;
  font-family: "Aboreto", cursive;
  display: flex;
  justify-content: center;
  text-align: center;
}
.travels__container--container .travels__card--container--description {
  display: flex;
  justify-content: center;
  text-align: center;
}
.travels__container--container .travels__card--container--price {
  position: absolute;
  bottom: -10px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
}
.travels__container--container--btn {
  color: black;
}

.filters {
  width: 100%;
}
.filters__container {
  width: 80%;
  margin: 7px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.filters__container--btn {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(108, 158, 214);
  border-radius: 20px;
  padding: 7px 15px;
  color: rgb(108, 158, 214);
  cursor: pointer;
}
.filters__container--btn.active {
  background-color: rgb(108, 158, 214);
  color: white;
}

.filters__container--btn.active {
  background-color: rgb(108, 158, 214);
  color: white;
}

/*# sourceMappingURL=style.css.map */
