.clients {
  width: 100%;
  margin: 60px 0;
  overflow: hidden;
  padding: 10px 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, auto));
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 2em;

    &--container {
      width: 150px;
      background-color: rgba(255, 255, 255, 0.6);
      border: 1px solid rgba(255, 255, 255, 0.6);
      box-shadow: 3px 4px 4px rgba(223, 223, 223, 0.426), inset 5px 4px 6px rgba(223, 223, 223, 0.426);
    }

    &--title {
      color: $lazyBlue;
      font-weight: bold;
    }

    &--number {
      font-size: 2rem;
      color: $skyBlue;
      text-shadow: 1px 2px 4px $lazyBlue;
    }
  }
}

.proyects {
  width: 100%;
  margin: 40px 0;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

  }

  &__link {
    font-size: 25px;
    color: $skyBlue;
    padding: 7px 10px;
    background-color: $lazyBlue;
    cursor: pointer;
    border-radius: 7px;


    &:hover {
      color: $gray;
      text-shadow: 1px 2px 4px $lazyBlue;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
      background-color: $gray;
    }
  }

  &__link--2 {
    font-size: 25px;
    color: $lazyBlue;
    padding: 7px 10px;
    background-color: $skyBlue;
    cursor: pointer;
    border-radius: 7px;


    &:hover {
      color: $gray;
      text-shadow: 1px 2px 4px $lazyBlue;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
      background-color: $gray;
    }
  }
}