.body__contact{
  background-image: radial-gradient(circle, rgba(37, 37, 37, 0.5) 0%, rgba(37, 37, 37, 0.5) 100%), url(../img/bariloche.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:$lazyBlue;
}

.form{
  height: 100vh;
  padding: 35px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &__container{
    width: 100%;
    max-width: 450px;
    position: relative;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 8px 30px 0 rgba(48, 48, 51, 0.4);
    backdrop-filter: blur( 3px );
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  &__box{
    border-color: $white;
    border: 1px solid var($white);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: blur;
  }

  &__title{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: $white;
  }

  &__container--form{
    margin: 25px 0 20px;
  }

  &__box--input{
    margin: 25px;
  }

  &__input{
    display: grid;
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $lazyBlue;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
    outline: none;

    &::placeholder{
      color: $white;
    }
  }

  &__label{
    color: $white;
    padding-bottom: 5px;
  }

  &__checks{
    font-size: 13px;
    align-items: flex-start;
    font-weight: 300;

    a{
      color: $lazyBlue;
      text-shadow: rgba(0, 0, 0, .3) 1px 1px;

      &:hover{
        color: $skyBlue;
      }
    }
  }
}