.filters{
  width: 100%;
  
  &__container{
    width: 80%;
    margin: 7px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    &--btn{
      background-color: rgb(245, 245, 245);
      border: 1px solid $lazyBlue;
      border-radius: 20px;
      padding: 7px 15px;
      color: $lazyBlue;
      cursor: pointer;

      &.active{
        background-color: $lazyBlue;
        color: $white;
      }
    }
  }
  }

  .filters__container--btn.active{
    background-color: $lazyBlue;
    color: $white;
  }