.header{
  background-image: url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 799px){
  header{
    overflow: hidden;
  }
}