.modal__container{
  width: 60%;
  margin-left: 20em;
  // max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  background-color: rgba(42, 42, 42, 0.5);
  backdrop-filter: blur(4px);
  position: fixed;
  overflow: hidden;
  z-index: 2;
  top: 5vh;
  scrollbar-color: none;

  &::-webkit-scrollbar{
    display: none;
  }

  .modal__header{
    display: flex;
    justify-content: space-around;
    background-color: rgba(42, 42, 42, 0.5);
    color: $white;
    width: 100%;
    
    .modal__title{
      justify-content: start;
    }
    
    .modal__button{
      cursor: pointer;
    }
  }

  .modal__cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 5px;

    &--img{
      width: 130px;
      height: 110px;
      object-fit: contain;

      &--img{
        width: 120px;
        height: 100px;
      }
    }

    &--travel{
      display: grid;
      grid-template-columns: 2fr repeat(3, 1fr);
      grid-template-rows: 1fr;
      justify-content: center;
      align-items: center;
      padding: 0 5px;
      width: 100%;
      color: $white;

      &--container--quan{
        margin-left: 3px;
      }

      .modal__cont--deleteTravel{
        color: $white;
      }
    }
  }
}

.total__container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5px;

  &--total{
    justify-content: center;
    text-align: center;
    padding-top: 4px;
  }
  
  &--btn{
    border: 1px solid $gray;
    border-radius: 15px;
    padding: 3px 7px;
    color: $gray;

    &:hover{
      border: 1px solid $lazyBlue;
      color: $lazyBlue;
    }
  }
}

.more, .less{
  cursor: pointer;
  display: flex;
  justify-content: center;
}

@media (max-width: 799px){
  .modal__container{
    width: 80%;
    margin-left: 3em;
  }
}