.nav{
  backdrop-filter: blur(3px);
  // background-color: rgba(255, 255, 255, 0.4);
  background-color:  rgba(42, 42, 42, 0.5);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  font-family: $aboreto;
  font-size: 20px;
  // position: sticky;
  // top: 0;
  // left: 0;
  z-index: 1;

  &__logo{
    font-size: 30px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 0;
    color: $white;
  }
  &__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    &--list{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      text-align: center;
    }

    &--item{
      padding: 0 15px;
      position: relative;
    }

    &--link{
      color: $skyBlue;
      transition: $transition;
      &:hover{
        color: $white;
      }
    }

    .active{
      color: $white;
    }
    .active::after,
    &--link:hover::after{
      content: "";
      color: $white;
      width: 30%;
      height: 2px;
      background: $white;
      position: absolute;
      bottom: -4px;
      left: 15px;
    }

    &--link--cart{
      font-size: 27px;
    }
    
    .nav__menu--cart{
      background-color: rgba(255, 255, 255, 0.5);
      color: $white;
      border-radius: 50px;
      font-size: 10px;
      padding: 7px;
      position: absolute;
      top: 5px;
      right: 15px;
      display: none;
    }
  }

  &__menuIcon{
    display: none;
    margin: auto;
    font-size: 24px;
  }
}


#nav.open{
  right: 0;
}
#closeMenu{
  display: none;
}

@media (max-width: 799px){
  .nav{
    &__menu{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 300px;
      background-color: rgba(42, 42, 42, 0.5);
      backdrop-filter: blur(4px);
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
      padding: 80px 0 0 10px;
      transition: 0.45s;

      &--list{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
      }

      &--item{
        margin-bottom: 25px;
        padding-left: 5px;

        &:last-of-type{
          display: none;
        }
      }
    }
    &__menuIcon{
      display: flex;
      margin: auto;
      font-size: 24px;
      margin-right: 10px;

      &--cart{
        margin-right: 10px;
        color: $black;
      }
    }

    #closeMenu{
      display: initial;
      position: absolute;
      top: 15px;
      right: 10px;
      color: $white;
    }
  }

}

