.packeges{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__title{
    font-family: $sofiaSans;
    font-size: 3rem;
    color: $lazyBlue;
    font-weight: 500;
    margin: 30px 0 15px;
    text-transform: uppercase;
  }

  &__text{
    text-align: center;
    font-family: $sofiaSans;
    font-size: 22px;
    font-weight: 300;
  }

  &__container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 20px auto;
    width: 95%;
    overflow: hidden;
    row-gap: 2em;

    &--container{
      border-radius: 50px;
      display: grid;
      grid-template-rows: 1fr;
      

    &--container{
      display: grid;
      grid-template-rows: repeat(3, 1fr);

      &--img{
        // display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px 50px 0 0;
      }
      &--descrip{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        background-color: rgba(243, 243, 243, 0.7);

        &--title{
          margin-top: 35px;
          font-family: $aboreto;
          font-size: 25px;
          color: $lazyBlue;
        }

        &--text{
          font-family: $sofiaSans;
          font-size: 20px;
          font-weight: 200;
          margin: 30px 0;
        }

        &--container{
          display: grid;
          grid-template-columns: repeat(3, 85px);
          justify-content: center;
          border: 1px solid $lazyBlue;
          width: 260px;
          margin: 0 auto;
          margin-top: 5em;
          padding: 10px 10px;
          border-radius: 50px;
          text-align: center;
          justify-items: center;
          color: $black;
          overflow: hidden;

          & i, span{
            color: $lazyBlue;
          }
          & span{
            font-weight: bold;
          }
        }
      }

      &--info{
        background-color: $lazyBlue;
        border-radius: 0 0 50px 50px;
        color: rgba(255, 255, 255, 0.9);

        &--container{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          text-align: center;
          font-size: 15px;
          width: 50%;
          margin: 0 auto;
          margin-top: 35px;
        }
        &--price{
          font-size: 70px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 30px;
          flex-direction: column;

          & span{
            font-size: 30px;

          }
        }
        &--btn{
          border: 1px solid rgba(255, 255, 255, 0.9);
          border-radius: 50px;
          padding: 10px 30px;
          font-size: 20px;
          font-family: $aboreto;
          color: rgba(255, 255, 255, 0.9);
          display: flex;
          justify-self: center;
          text-align: center;
          margin: 40px auto 20px;
          transition: $transition;

          &:hover{
            border: 1px solid rgb(255, 255, 255);
            color: rgb(255, 255, 255);
            background-color: $skyBlue;
          }
        }
      }
    }
  }
}
}

@media (min-width: 350px){
  .packeges__container--container--container--info--container{
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    font-size: 20px;
    width: 60%;
  }
}

@media (min-width: 550px){
  .packeges__container--container--container--info--container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    font-size: 20px;
    width: 60%;
  }
}


@media (min-width: 800px){

  .packeges__container--container--container--img{
    border-radius: 50px 0 0 50px;
  }
  .packeges__container--container{
    grid-template-rows: 1fr;
    row-gap: 3em;
  }
  .packeges__container--container--container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 420px;
    row-gap: 3em;
    overflow: hidden;

    &--info{
      border-radius: 0 50px 50px 0;
    }

    &--descrip--title{
      margin-top: 80px;
      
    }

    &--descrip--text{
      margin: 40px 10px;
    }
  }
}