.popular{
  width: 100%;
  margin: 15px auto;

  &__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: $lazyBlue;
    text-transform: uppercase;
    margin: 25px 0;
    font-family: $sofiaSans;
    font-weight: 400;
    letter-spacing: 3px;
    

  }
  &__container--text{
    color: $black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 25px;
    letter-spacing: 1px;
    width: 80%;
    margin: 5px auto;
    font-family: $sofiaSans;
    font-size: 22px;
    font-weight: 300;
  }

  &__container--btn{
    font-family: $sofiaSans;
    display: flex;
    border: 2px solid $lazyBlue;
    border-radius: 50px;
    padding: 3px 15px;
    justify-self: center;
    margin: auto;
    transition: $transition;
    
    & a{
      font-size: 25px;
      color: $lazyBlue;
      text-shadow: 1px 1px 4px $skyBlue;

      &:hover{
        color: $white;
        text-shadow: 1px 1px 4px $gray;
      }
    }
      
    &:hover{
      background-color: $lazyBlue;
      border: 2px solid transparent;
    }

  }

  &__container--list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 2em;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    margin: 10px 0;
    padding: 0;
  }

  &__container--list, &__container--list > .popular__container--list--item:not(:last-child){
    margin-bottom: 30px;
  }

  &__card{
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    height: 500px;
    width: 350px;

    &--img{
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    &--container{
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(3px);
      border-radius: 25px;
      padding: 20px;
      color: white;

      &--stars{
        color: white;
        position: absolute;
        top: 0;
        right: 25px;
        display: flex;
        align-items: center;
        gap: 4px;
        transform: translateY(-50%);
      }

      &--site{
        font-size: 13px;
        font-weight: bolder;
        margin-bottom: 4px;
      }

      &--title{
        font-size: 1.2rem;
        font-family: $aboreto;
      }
    }
  }
}