.searchTravels__card{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin: 10px 0;

  &--img{
    width: 350px;
    height: 490px;
    object-fit: cover;
    display: none;
    justify-self: flex-end;
    margin-right: 20px;
  }

  &--container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    &--title{
      font-size: 30px;
      color: $lazyBlue;
      font-family: $aboreto;
    }

    & button{
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 30px;
      color: $gray;
    }
  }
}

@media (min-width:799px){
  .searchTravels__card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px;

    &--img{
      display: flex;
    }

    &--container{
      &--title{
        font-size: 40px;
      }
    }
  }
}