.searchTravels__card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin: 10px 0;

  &--img{
    width: 350px;
    height: 550px;
    object-fit: cover;
    display: flex;
    justify-self: flex-end;
    margin-right: 20px;
  }

  &--container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &--title{
      font-size: 40px;
      color: $lazyBlue;
      font-family: $aboreto;
    }

    &--btn{
      display: flex;
      position: absolute;
      top: 0;
      right: -200px;
    }
  }
}