.travels{
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-area: travels;
  
  &__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 1.5em;
    overflow: hidden;
    justify-content: center;
    margin: 10px 0;

    .travels__buyTravel{
      display: flex;
      justify-content: center;
      text-align: center;
      border: 1px solid $lazyBlue;
      border-radius: 25px;
      margin: 10px auto 0;
      padding: 7px 15px;
    }

    &--container{
      position: relative;
      overflow: hidden;
      border-radius: 25px;
      height: 550px;
      width: 360px;
      
      .travels__card--img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
      }

      .travels__card--container{
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(3px);
        border-radius: 25px;
        padding: 20px 10px;
        color: white;

        &--title{
          font-size: 30px;
          font-family: 'Aboreto', cursive;
          display: flex;
          justify-content: center;
          text-align: center;
        }
        
        &--description{
          display: flex;
          justify-content: center;
          text-align: center;
        }

        &--price{
          position: absolute;
          bottom: -10px;
          font-weight: bold;
          display: flex;
          justify-content: flex-end;
          color: rgb(255, 255, 255);
        }
      }

      &--btn{
        color: black;
      }
    }
  }
}

