.travels {
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-area: travels;

  &__title {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    color: $lazyBlue;
    font-family: $sofiaSans;
    font-weight: 400;
    margin: 10px 0;
  }

  &__text {
    display: flex;
    justify-content: center;
    font-family: $sofiaSans;
    font-size: 20px;
    color: $gray;
    display: flex;
    text-align: center;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 1.5em;
    overflow: hidden;
    justify-content: center;
    margin: 10px 0;

    .travels__buyTravel {
      display: flex;
      justify-content: center;
      text-align: center;
      border: 1px solid $lazyBlue;
      border-radius: 25px;
      margin: 10px auto 0;
      padding: 7px 15px;
    }

    &--card {
      position: relative;
      width: 350px;
      height: 550px;
      margin: 10px 0;

      &--container {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 25px;
        overflow: hidden;
        transition: .7s ease-in-out;
      }

      & .front {
        transform: perspective(800px) rotateY(0deg);
        transform-style: preserve-3d;
        box-shadow: 0 5px 10px $black;
      }

      & .front__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      & .front__container {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(3px);
        border-radius: 25px;
        padding: 20px 10px;
        color: white;

        &--title {
          font-size: 30px;
          font-family: $aboreto;
          display: flex;
          justify-content: center;
          text-align: center;
        }

        &--price {
          position: absolute;
          bottom: -10px;
          font-weight: bold;
          display: flex;
          justify-content: flex-end;
          color: rgb(255, 255, 255);
        }
      }

      & .back {
        transform: perspective(800px) rotateY(180deg);
        transform-style: preserve-3d;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid $white;
        backdrop-filter: blur(6px);
        padding: 15px;
        color: $lazyBlue;
        display: grid;
        grid-template-rows: 100px 1fr;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5px 10px $black;
      }

      & .back__title {
        font-family: $aboreto;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .back__description{
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }

    .travels__container--card:hover .front {
      transform: perspective(800px) rotateY(180deg);
      transform-style: preserve-3d;
    }
    
    .travels__container--card:hover .back {
      transform-style: preserve-3d;
      transform: perspective(800px) rotateY(360deg);
    }
  }
}