// COLORS
$gray: rgb(191, 191, 191);
$white: white;
$black: rgb(37, 37, 37);
$skyBlue: rgb(124, 195, 231);
$lazyBlue: rgb(108, 158, 214);

// TOOLS
$transition: .4s, easy-in-out;
$aboreto: 'Aboreto', cursive;
$sofiaSans: 'Sofia Sans Extra Condensed', sans-serif;
