// COLORS
$gray: rgb(191, 191, 191);
$white: white;
$black: rgb(37, 37, 37);
$skyBlue: #7cc3e7;
$lazyBlue: #6c9ed6;

// TOOLS
$transition: .4s, easy-in-out;
$aboreto: 'Aboreto', cursive;
$sofiaSans: 'Sofia Sans Extra Condensed', sans-serif;